<nav class="navbar navbar-default main">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/foodify.png" alt="{{ app.name }}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>
                {{#if session.admin }}
                    <li><a href="/admin">Admin</a></li>
                {{/if}}
            </ul>
            {{#unless session.passport.user }}
            <form id="login" class="navbar-form navbar-right " role="form" action="/auth/login" method="post">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input id="email" type="email" class="form-control input-sm" name="email" value="user@user.net">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control input-sm" name="password" value="1234567" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary btn-md">Login</button>
                <a href="/auth/signup" class="btn btn-default btn-md">Signup</a>
            </form>
            {{/unless}}
            {{#if session.passport.user }}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            {{/if}}

        </div><!--/.nav-collapse -->
    </div>
</nav>