<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
        <link rel='stylesheet' href='/css/style.css' />
    </head>
<body>
<!--Header-->
{{> header}}

{{{body}}}
<script src="/javascript/jquery-3.2.0.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
{{{_sections.script}}}
</body>
</html>
