
.hero-image {
  background-image: url("../images/foodify-hero.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.navbar.main {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.31);
  z-index: 1;
}

#shop {
  margin-top: 60px;
}
.product {
  text-align: center;
  border:0;
  .price {
    font-size: 30px;
    font-weight: 700;
    color: #8BC34A;
  }
}

.list-group-item {
  overflow: auto;
}

.navbar {
  margin-bottom: 50px;
}

.btn-file {
  background-color: red;
}

.input-sm {
  height: 32px;
}