<div class="container">
    <div class="row" id="admin-panel">
        <div class="col-md-6">
            <h3><i class="glyphicon glyphicon-tag"></i> Products overview</h3>
            <ul class="list-group">
                <li class="list-group-item" v-for="(product, index) in products">
                    <span v-text="product.name"></span>
                    <a :href="'/admin/product/' + product._id" class="btn btn-success pull-right"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="" class="btn btn-danger pull-right" @click.prevent="deleteProduct(product._id)"><i class="glyphicon glyphicon-trash"></i></a>
                </li>
            </ul>
            <a href="/admin/product" class="btn btn-info" style="margin-top: 20px"><i class="glyphicon glyphicon-plus"></i> Dodaj novi proizvod</a>
        </div>
        <div class="col-md-6">
            <h3><i class="glyphicon glyphicon-user"></i> Users overview</h3>
            <ul class="list-group">
                {{#each users}}
                    <li class="list-group-item">{{ email }} <a href=""></a>
                        {{#if admin }}
                            <span style="color:red">Admin</span>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{#section 'script'}}
    <script>
        var vm = new Vue({
            el: '#admin-panel',
            data: {
                products: []
            },
            methods: {

                deleteProduct: function(id){
                    var self = this;
                    axios.delete('/api/v1/product/' + id, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(
                            //success
                            function(response){
                                self.allProducts();
                            },
                            //fail
                            function(response){
                                console.log(response)
                            });
                },

                editProduct: function(id){

                },

                allProducts: function(){
                    var self = this;
                    //fetch products
                    axios.get('/api/v1/product/', {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(
                            //success
                            function(response){
                                self.products = response.data;
                            },
                            //fail
                            function(response){
                                console.log(response)
                            });
                }

            },

            mounted: function() {
                this.allProducts()
            }
        })
    </script>
{{/section}}