<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Latest products <small>REST api</small></h2>
        </div>
    </div>
    <div class="row" id="shop">
        <div class="col-sm-6 col-md-4" v-for="(product, index) in products">
            <div class="thumbnail product">
                <img :src="product.img" :alt="product.name" class="img-responsive">
                <div class="caption">
                    <h3 v-text="product.name"></h3>
                    <p v-text="product.excerpt"></p>
                    <p v-text="product.price + ' ISK'" class="price"></p>
                    <p>
                        <a :href="'/product/'+ product.name + '/' + product._id" class="btn btn-primary" role="button">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'script'}}
    <script>
        var vm = new Vue({
            el: '#shop',
            data: {
                products: []
            },
            mounted: function(){
                var self = this;
                //fetch products
                axios.get('/api/v1/product/latest').then(
                        //success
                        function(response){
                            self.products = response.data;
                        },function(response){
                            console.log(response)
                        });
            }
        })
    </script>
{{/section}}