<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        {{#if message.length}}
        <div class="alert alert-danger">{{ message }}</div>
        {{/if}}

        <!-- LOGIN FORM -->
        <form action="/auth/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control input-sm" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control input-sm" name="password">
            </div>

            <button type="submit" class="btn btn-primary btn-md">Signup</button>
        </form>
        <hr>
        <p>Go back <a href="/">home</a>.</p>

    </div>
</div>