<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ product.name }}</h1>
            <img src="{{ product.img }}" alt="{{ product.title }}">
            <p><strong>{{ product.excerpt }}</strong></p>
            <hr>
            <p>{{ product.content }}</p>
            <hr>
            <a href="/product" class="btn btn-primary" role="button">Back</a>
        </div>
    </div>
</div>