<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>New product</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="/product/{{ product._id}}?_method=PUT" method="post" id="new-product" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT"/>
                <div class="form-group">
                    <label>Product name:</label>
                    <input type="text" class="form-control" placeholder="Name" value="{{ product.name}}" name="name">
                </div>
                <div class="form-group">
                    <label>Product excerpt:</label>
                    <textarea class="form-control" placeholder="Excerpt ..." name="excerpt">{{ product.excerpt }}</textarea>
                </div>
                <div class="form-group">
                    <label>Product content:</label>
                    <textarea class="form-control" placeholder="Content ..." name="content">{{ product.content}}</textarea>
                </div>
                <div class="form-group">
                    <label>Product price:</label>
                    <input type="text" class="form-control" placeholder="00.00" value="{{ product.price}}" name="price">
                </div>
                <div class="">
                    <label>Product image:</label><br>
                    <label class="btn btn-primary">
                        Browse <input type="file" style="display: none;" name="img">
                    </label>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-save"></i> SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>
